body{
	min-width:200px;
}

.title{
	
}
.author{
	
}

.footer{
	
}

.sectiontitle{
	font-size:18px;
	color: orange;
}

.paragraph{
	font-size:11px;
	color:black;
}

.name{
	font-weight:bold;
	font-size:20px;
}

.version{
	font-style:italic;
	font-size:9px;
}
